@model CreateCardModel

@using Humanizer

<div class="container">

    <div class="col-12 mt-4 lead">
        <strong>
            Create a new card
        </strong>
    </div>

    <form asp-action="Create" id="lookupForm">
        <div class="row mt-4">
            <div class="col-8 col-md-8 col-lg-6 col-xl-5">
                <div class="input-group">
                    <input id="address" name="address" class="form-control" placeholder="e.g., romans 12:1-2" style="outline: none; box-shadow: none;" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Go</button>
                    </div>
                </div>
            </div>
            <div class="col-4 col-md-3 col-lg-2 col-xl-1">
                    @Html.DropDownListFor( 
                        m => m.BibleId,   
                        new SelectList(Model.Bibles, nameof(BibleModel.Id), nameof(BibleModel.ShortName)),  
                        new { @class = "form-control" } 
                    )
            </div>
        </div>
    </form>



    @if(Model.CreatedCardId > 0)
    {
        <div class="fs-6 mt-4">
            Added @Model.CreatedAddress to tab @Model.CreatedToTab.Humanize()
        </div>

        <div class="pt-3">
            <a class="btn btn-secondary" asp-action="Maintenance" asp-controller="Card" asp-route-id="@Model.CreatedCardId">Go to card</a>
        </div>

    }
    else if(!string.IsNullOrEmpty(Model.AddressQuery) && !Model.IsValidAddress) 
    {
        <div class="mt-4 fs-6">
            No passage found for "@(Model.AddressQuery)"
        </div>
    }
    else if(Model.Passage != null)
    {
        <div class="mt-5">
            <span class="display-6">@Model.Passage.Address</span>
        </div>

        <div class="mt-4">
            <partial name="_PassagePartial" model="@Model.Passage" />
        </div>

        <div class="mt-5">
            @if(Model.IsCardAlreadyCreated)
            {
                <button class="btn btn-primary" disabled>Create Card</button>
                <div class="mt-2 fw-light">Card already exists</div>
            }
            else
            {
                <a class="btn btn-primary" asp-action="New" asp-route-address="@Model.Passage.Address" asp-route-bibleid="@Model.BibleId">Create Card</a>
            }           
        </div>
    }

</div>

<script>

    document.addEventListener('DOMContentLoaded', () => {

        document.querySelector('input[name="address"]').focus();
        const bibleIdElement = document.getElementById('BibleId');

        bibleIdElement.addEventListener('change', () => {

            const form = document.getElementById('lookupForm');

            // const addressInput = document.getElementById('address');
            // addressInput.value = '@Model.AddressQuery';

            const addressHid = document.createElement('input');
            addressHid.type = 'hidden';
            addressHid.name = 'address';
            addressHid.value = '@Model.AddressQuery';

            const visibleAddressInput = document.getElementById('address');
            visibleAddressInput.name = 'address_temp';

            // console.log("addressHid before appending:", addressHid);
            form.appendChild(addressHid);

            form.submit();

        });
    });

</script>



