@model CardIndexModel


<div class="container">


    <div class="row justify-content-center mb-2">
        @if (!string.IsNullOrEmpty(Model.BackUrl))
        {
            <div class="col-6 d-flex align-items-center">
                <a href="@Model.BackUrl" class="btn btn-primary px-3">
                    Back
                </a>
            </div>

            <div class="col-6 d-flex justify-content-end">
                <h1 class="font-weight-bold text-end text-md-end mb-0 me-3">@Model.Card.Passage.Address</h1>
            </div>
        }
        else
        {
            <div class="col-12 d-flex justify-content-end">
                <h1 class="font-weight-bold text-end text-md-end mb-0 me-3">@Model.Card.Passage.Address</h1>
            </div>
        }


    </div>

    <div class="row mb-2 border-top"></div>
        


    <div class="row mt-4">
        <div class="col-12">
            @foreach (var chapter in Model.Card.Passage.Verses)
            {
                <p>
                    <strong>@chapter.Key</strong>

                    @foreach (var verse in chapter.Value)
                    {
                        <span><sup><strong>@verse.Key</strong></sup> @verse.Value </span>
                    }

                </p>
            }
        </div>
    </div>

    <div class="mt-5">
        <partial name="_CardInfoTablePartial" model='@Model.Card' />
    </div>

    <div class="d-flex flex-row">
        <div>
            <a asp-action="SelectNewTab" asp-controller="Card" asp-route-id="@Model.Card.Id" class="btn btn-secondary px-3">
                Move
            </a>
        </div>
        <div class="ps-2">
            <a href="#" onclick="confirmDelete()" class="btn btn-danger px-3">
                Delete
            </a>
        </div>
    </div>

</div>

<!-- Confirmation dialog markup -->
<div id="deleteConfirmationModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this card?</p>
                <p class="fw-bold fs-5">@Model.Card.Passage.Address</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelDelete()">Cancel</button>
                <a asp-action="Delete" asp-controller="Card" asp-route-id="@Model.Card.Id" asp-route-returnurl="@Model.BackUrl" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete() {
        $('#deleteConfirmationModal').modal('show');
    }

    function cancelDelete() {
        $('#deleteConfirmationModal').modal('hide');
    }
</script>

