@model NewCardModel

@using Humanizer


<div class="col-12 mt-4 lead">
    <strong>
        Create a new card
    </strong>
</div>

<form asp-action="New" id="lookupForm">
    <div class="row mt-4">
        <div class="col-8 col-md-8 col-lg-6 col-xl-5">
            <div class="input-group">
                <input id="address" name="address" data-testid="card.new.txtAddress" class="form-control" placeholder="e.g., romans 12:1-2" style="outline: none; box-shadow: none;" />
                <div class="input-group-append">
                    <button type="submit" data-testid="card.new.btnGo" class="btn btn-primary">Go</button>
                </div>
            </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2 col-xl-1">
            @Html.DropDownListFor( 
                                  m => m.BibleId,   
                                  new SelectList(Model.Bibles, nameof(BibleModel.Id), nameof(BibleModel.ShortName)),  
                                  new { @class = "form-control", data_testId = "card.new.ddlTranslation" } 
                              )
        </div>
    </div>
</form>



@if(Model.CreatedCardId > 0)
{
    <p data-testid="card.new.cardCreatedMsg" class="fs-6 mt-4">
        Added @Model.CreatedAddress to the @Model.CreatedToTab.Humanize() tab. 
    </p>

    <p>
        Enter a new address above to create a new card.
    </p>

    <div class="pt-4">
        <a class="btn btn-primary btn-sm me-1" asp-action="Index" data-testid="card.new.viewAll" asp-controller="Collection">View All Cards</a>
        <a class="btn btn-primary btn-sm" asp-action="Index" data-testid="card.new.startReview" asp-controller="Review">Start Review</a>
    </div>

}
else if(!string.IsNullOrEmpty(Model.AddressQuery) && !Model.IsValidAddress) 
{
    <div data-testid="card.new.noPassageFoundMsg" class="mt-4 fs-6">
        No passage found for "@(Model.AddressQuery)"
    </div>
}
else if(Model.Passage != null)
{
    <div class="mt-5">
        <span data-testid="card.new.searchResultAddress" class="display-6">@Model.Passage.Address</span>
    </div>

    <div data-testid="card.new.searchResultPassage" class="mt-4">
        <partial name="_PassagePartial" model="@Model.Passage" />
    </div>

    <div class="mt-5">
        @if(Model.IsCardAlreadyCreated)
        {
            @if (Model.WorkflowType == BitPantry.Iota.Common.WorkflowType.Basic)
            {
                <button class="btn btn-primary" data-testid="card.new.createCardDisabled" disabled>Create Card</button>
            }
            else
            {
                <button id="createBtnDrop" data-testid="card.new.btnCreateDdlDisabled" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                    Create Card
                </button>
            }
            <div data-testid="card.new.cardAlreadyExistsMsg" class="mt-2 fw-light">Card already exists</div>
        }
        else
        {
            <form asp-action="Create" id="createForm">
                <input type="hidden" name="address" value="@Model.Passage.Address" />
                <input type="hidden" name="bibleId" value="@Model.BibleId" />

                @if (Model.WorkflowType == BitPantry.Iota.Common.WorkflowType.Basic)
                {
                    <button class="btn btn-primary" data-testid="card.new.createCard" type="submit">Create Card</button>
                }
                else
                {
                    <div class="btn-group" role="group">
                        <button id="createBtnDrop" data-testid="card.new.btnCreateDdl" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Create Card
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="createBtnDrop">
                            <li>
                                <button type="submit" class="dropdown-item" data-testid="card.new.btnAddToQueue" name="addToTab" value="@(BitPantry.Iota.Common.Tab.Queue)">
                                    Add to Queue Tab
                                </button>
                            </li>
                            <li>
                                <button type="submit" class="dropdown-item" data-testid="card.new.btnAddToDaily" name="addToTab" value="@(BitPantry.Iota.Common.Tab.Daily)">
                                    Add to Daily Tab
                                </button>
                            </li>
                        </ul>
                    </div>
                }
            </form>
        }           
    </div>
}


<script>

    document.addEventListener('DOMContentLoaded', () => {

        document.querySelector('input[name="address"]').focus();
        const bibleIdElement = document.getElementById('BibleId');

        bibleIdElement.addEventListener('change', () => {

            const form = document.getElementById('lookupForm');

            const addressHid = document.createElement('input');
            addressHid.type = 'hidden';
            addressHid.name = 'address';
            addressHid.value = '@Model.AddressQuery';

            const visibleAddressInput = document.getElementById('address');
            visibleAddressInput.name = 'address_temp';

            form.appendChild(addressHid);

            form.submit();

        });
    });

</script>



