@using BitPantry.Iota.Common



<div class="d-flex justify-content-center mt-4">

    <div class="col-xl-8 col-lg-10 col-md-12">

        <p class="display-6">Note Cards and Divider Tabs</p>

        <p>
            This system uses the concepts of cards (as in note cards) and tabs (think divider tabs) to help you memorize scripture.
        </p>

        <p class="mb-4">
            Imagine you have a note card box with 42 tabs. When you want to memorize a new passage of scripture, you write it on a note card and organize it into this box.
            The tabs determine how often you review each card and how the cards advance through the system. Click on the tabs below to learn how they work.
        </p>

        <div class="bd-example">

            <div>

                <!-- tabs -->
                <ul class="nav nav-tabs nav-justified mt-5 w-100 main-tabs">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="queueTab" data-bs-toggle="tab" data-bs-target="#queueTabContent" data-tab-info="@Tab.Queue" type="button" role="tab" aria-controls="queueTabContent">Queue</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="dailyTab" data-bs-toggle="tab" data-bs-target="#dailyTabContent" data-tab-info="@Tab.Daily" type="button" role="tab" aria-controls="dailyTabContent">Daily</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="oddTab" data-bs-toggle="tab" data-bs-target="#oddTabContent" data-tab-info="@Tab.Odd" type="button" role="tab" aria-controls="oddTabContent">Odd</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="evenTab" data-bs-toggle="tab" data-bs-target="#evenTabContent" data-tab-info="@Tab.Even" type="button" role="tab" aria-controls="evenTabContent">Even</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="weekTab" data-bs-toggle="tab" data-bs-target="#weekTabContent" data-tab-info="Week" type="button" role="tab" aria-controls="weeklyTabContent">Week</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="monthTab" data-bs-toggle="tab" data-bs-target="#monthTabContent" data-tab-info="Month" type="button" role="tab" aria-controls="monthTabContent">Month</a>
                    </li>
                </ul>

                <!-- tab contents -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="queueTabContent" role="tabpanel" aria-labelledby="queueTab">
                        <div class="mt-3 mx-3">
                            <p>
                                The Queue tab is for <strong>cards you want to memorize, but haven't started working on yet</strong>. When you create a new card, it's added here. You can put <strong>
                                    as many cards
                                    as you'd like
                                </strong> in this tab. Cards from the Queue are <strong>moved to the Daily tab when you're ready to memorize them.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="dailyTabContent" role="tabpanel" aria-labelledby="dailyTab">
                        <div class="mt-3 mx-3">
                            <p>
                                The Daily tab is for <strong>the card you're currently working to memorize</strong>. As the tab name indicates, you'll <strong>review this card every day</strong>. Once you
                                feel like you've got it down, you'll advance this card to a different tab and move the top card in the Queue tab here (more on this later).
                                You can only have <strong>one card at a time</strong> in the Daily tab. The card in the Daily tab is <strong>moved to the Odd or Even tab once you feel like you have it memorized.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="oddTabContent" role="tabpanel" aria-labelledby="oddTab">
                        <div class="mt-3 mx-3">
                            <p>
                                The Odd tab is for <strong>cards you've recently memorized and still need to review freqently</strong>.
                                You'll <strong>review these cards on odd days of the month</strong>. You can only have <strong>one card at a time</strong> in the Odd tab. Over time, Odd cards are <strong>moved to a Day of the Week tab.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="evenTabContent" role="tabpanel" aria-labelledby="evenTab">
                        <div class="mt-3 mx-3">
                            <p>
                                The Even tab is for <strong>cards you've recently memorized and still need to review freqently</strong>.
                                You'll <strong>review these cards on even days of the month</strong>. You can only have <strong>one card at a time</strong> in the Even tab. Over time, Even cards are <strong>moved to a Day of the Week tab.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="weekTabContent" role="tabpanel" aria-labelledby="weekTab">
                        <nav class="nav py-3" style="border-bottom: 1px solid #DEDEDE;">
                            @foreach (var day in new[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" })
                            {
                                <a id="@day.ToLower()Tab" class="nav-link" data-tab-info="@day" href="#">@day</a>
                            }
                        </nav>
                        <div class="mt-3 mx-3">
                            <p>
                                The Week tab is really 7 tabs - one for each day of the week. These tabs are for <strong>cards you feel good about, but still need to review regularly</strong> to make sure they stay sharp.
                                You'll <strong>review these cards once a week</strong> on the day represented by the tab. You can only have <strong>one card at a time</strong> in each of the Day of the Week tabs. Over time,
                                cards in the Day of the Week tabs are <strong>moved to a Day of the Month tab.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="monthTabContent" role="tabpanel" aria-labelledby="monthTab">
                        <nav class="nav py-3" style="border-bottom: 1px solid #DEDEDE;">
                            @for (int i = 1; i <= 31; i++)
                            {
                                <a id="@($"day{i}Tab")" class="nav-link" data-tab-info="@($"Day{i}")" href="#">@i</a>
                            }
                        </nav>
                        <div class="mt-3 mx-3">
                            <p>
                                The Month tab is really 31 tabs - one for each day of the month. These tabs are for <strong>cards you have memorized and only need to review occasionally</strong>.
                                You'll <strong>review these cards once a month</strong> on the day represented by the tab. You can have <strong>multiple cards</strong> in each of the Day of the Month tabs. Of course, there aren't
                                always 31 days in each month, so you'll want to move the cards you know best to tabs 29, 30, and 31. Cards in a Day of the Month tab <strong>don't automatically move out</strong>. They stay here and are reviewed
                                each month.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="display-6 mt-4">Reviewing Cards</p>

        <p>
            Each day, you'll review the cards behind the tabs represented by the current day.
        </p>
        <p>
            For example, if today is <strong>Thursday, November 14th</strong> you would review the cards behind the following tabs.
        </p>

        <ul>
            <li>
                <strong>Daily</strong>, because you review this card every day
            </li>
            <li>
                <strong>Even</strong>, because the 14th day of the month is an even number
            </li>
            <li>
                <strong>Thursday</strong>, because that's the day of the week
            </li>
            <li>
                <strong>Day 14</strong>, because it's the 14th day of the month
            </li>
        </ul>

        <p>
            Each day, the app will automatically pull the cards scheduled for review and present them to you.
        </p>

        <p class="mt-3">
            While reviewing, you can navigate directly to any of today's cards by using the tabs, or click the next button to advance to the next card for review.
            Tap the card to toggle the visibility of the text if you need a reminder.
        </p>

        <div class="row" style="">
            <div class="col">
                <img src="~/images/getstarted/review_collapsed.png" class="img-fluid bd-example" alt="Responsive image">
            </div>
            <div class="col">
                <img src="~/images/getstarted/review_expanded.png" class="img-fluid bd-example" alt="Responsive image">
            </div>
        </div>

        <p class="mt-4">
            In this way, even if you have hundreds of cards, you should be able to review every card in your set over the course of a month in less than 15 minutes per day.
        </p>

        <p>
            You can start a review session by clicking Review on the main menu.
        </p>

        <img src="~/images/getstarted/reviewmenu.png" class="img-fluid bd-example" style="max-width: 200px" alt="Responsive image">

        <div class="row mt-4">
            <div class="col">
                <a class="btn btn-secondary btn-sm" href="@(Url.Action<BitPantry.Iota.Web.Controllers.ReviewController>(c => c.Index()))">Start Review Now</a>
            </div>
        </div>

        <p class="display-6 mt-4">Promoting the Daily Card</p>

        <p>
            Each time you start a review, you're presented with the Daily card first. This is the new card you're working to memorize.
            Once you feel like you've got it down and you're ready to begin working on a new card, click the Promote button.
        </p>

        <img src="~/images/getstarted/promote.png" class="img-fluid bd-example" style="max-width: 350px" alt="Responsive image">

        <p class="mt-4">
            This will move the Daily card to either the Odd or Even tab, and the top card from the Queue will be moved to the Daily as the new Daily card.
        </p>

        <p class="display-6">
            How Cards Move
        </p>

        <p>
            When the Daily card is promoted, it "bumps" the card in the Odd or Even tab to a Day of the Week tab, which causes that card to move to a Day of the Month tab.
        </p>

        <p class="mt-4">
            So, For example, if promoting the Daily card moves it to the Odd tab, the card in the Odd tab may move to the Tuesday tab, and the card in the Tuesday tab may move to the Day 12 tab. The app decides
            which tab to move cards into and which cards to bump based on where there's the most room and which cards have been around the longest.
        </p>

        <p class="display-6 mt-4">
            Adding New Cards
        </p>

        <p>
            The first thing you'll want to do is create new cards for the passages of scripture you want to memorize. From the main menu select Cards > New.
        </p>

        <img src="~/images/getstarted/card_new_menu.png" class="img-fluid bd-example" style="max-width: 225px" alt="Responsive image">

        <p class="mt-4">
            Enter the address of the passage you want to create a card for and select a translation from the drop down. Once the passage is loaded, you can view the passage
            in different translations by changing the translation dropdown.
        </p>

        <img src="~/images/getstarted/createcard.png" class="img-fluid bd-example" style="max-width: 350px" alt="Responsive image">

        <p class="mt-4">
            Press Create Card to create a new card for the passage. If there ins't a card there already, the new card is added to the Daily tab. Otherwise, new cards are added to the Queue tab.
        </p>

        <a class="btn btn-secondary btn-sm mt-2" href="@(Url.Action<BitPantry.Iota.Web.Controllers.CardController>(c => c.New(null, 0)))">Add New Cards Now</a>

        <p class="display-6 mt-4">
            Managing My Cards
        </p>

        <p>
            Select Cards > View All from the main menu to see all the cards in your collection.
        </p>

        <img src="~/images/getstarted/viewallcards.png" class="img-fluid bd-example" style="max-width: 250px" alt="Responsive image">

        <p class="mt-4">
            Use the tabs to navigate through your collection of cards.
        </p>

        <p>
            Tabs that contain only one card will display that card when you click on the tab. Tabs with multiple cards will display a list of cards when the tab is clicked.
            Card lists can be re-ordered by dragging and dropping cards to a new position. Click the address link to view a card in a list.
        </p>

        <div class="row" style="">
            <div class="col">
                <img src="~/images/getstarted/singlecardmaintenance.png" class="img-fluid bd-example" alt="Responsive image">
            </div>
            <div class="col">
                <img src="~/images/getstarted/multicardmaintenance.png" class="img-fluid bd-example" alt="Responsive image">
            </div>
        </div>

        <p class="mt-4">
            From here, you can delete cards and move cards to other tabs. When moving cards, if you move a card to a tab that can only contain one card, and there is already a card there
            that card will be shifted out just like when the Daily card is promoted.
        </p>

        <a class="btn btn-secondary btn-sm mt-3" href="@(Url.Action<BitPantry.Iota.Web.Controllers.CollectionController>(c => c.Index()))">Manage My Cards Now</a>

    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Activate a nested tab within a content area
        function activateNestedTab(nestedTab) {
            nestedTab.closest(".nav").querySelectorAll(".nav-link").forEach(link => link.classList.remove("active"));
            nestedTab.classList.add("active");
        }

        // Nested Tab Event Listeners for Week and Month
        document.querySelectorAll('#weekTabContent .nav-link, #monthTabContent .nav-link').forEach(tab => {
            tab.addEventListener('click', function (event) {
                event.preventDefault();
                const tabInfo = event.target.getAttribute('data-tab-info');

                // Track the last selected nested tab for Week or Month
                if (event.target.closest('#weekTabContent')) lastSelectedWeekTab = tab;
                else if (event.target.closest('#monthTabContent')) lastSelectedMonthTab = tab;

                activateNestedTab(tab);
                updateMoveToButton(tabInfo);
            });
        });

        activateNestedTab(document.getElementById("sundayTab"));
        activateNestedTab(document.getElementById("day1Tab"));

    });
</script>

