@model CreateCardModel

<div class="text-center mb-4">
    <h3 class="font-weight-bold">Create new card</h3>
</div>

<form id="lookup-form" asp-controller="CreateCard" asp-action="Search" method="post" class="form-horizontal">

    <div class="container">
        <div class="form-group row justify-content-center">
            <div class="col-auto">
                <div class="input-group">
                    <input name="address" class="form-control" placeholder="e.g., romans 12:1-2" style="min-width: 400px" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Go</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@if (Model.IsSuccessfulCreate)
{
    <div class="container mt-4">
        <div class="align-content-center">
            <div class="row">
                <div class="col-12 text-center">
                    <p>Card added to your queue</p>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.IsHttpPost)
{
    @if(Model.IsValidAddress)
    {
        <form id="passage-form" asp-controller="CreateCard" asp-action="Search" method="post" class="form-horizontal">

            <div class="container mt-4">
                <div class="row align-items-center">
                    <div class="col-12 d-flex justify-content-between">
                        <span id="address" class="lead">@Model.Address</span>
                        @Html.DropDownListFor(m => m.BibleId, Model.Bibles, new { @class = "form-control form-select form-select-sm", id = "bibleId", style = "max-width: 275px" })
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        @foreach (var verse in Model.Verses)
                        {
                            <span><sup><strong>@verse.Key</strong></sup> @verse.Value </span>
                        }
                    </div>
                </div>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    const bibleIdElement = document.getElementById('bibleId');
                    bibleIdElement.addEventListener('change', () => {
                        document.getElementById('passage-form').submit();
                    });
                });
            </script>

            <input type="hidden" name="address" value="@Model.Address" />

        </form>


        <form id="add-to-queue-form" asp-controller="CreateCard" asp-action="Create" method="post" class="form-horizontal">

            <div class="container mt-5">
                <div class="form-group row justify-content-center">
                    <div class="col-auto">
                        <input type="hidden" name="address" value="@Model.Address" />
                        <input type="hidden" name="bibleId" value="@Model.BibleId" />
                        <button type="submit" class="btn btn-primary">Create Card</button>
                    </div>
                </div>
            </div>

        </form>

    }
    else
    {
        <div class="container mt-4">
            <div class="align-content-center">
                <div class="row">
                    <div class="col-12 text-center">
                        <p>No passage found</p>
                    </div>
                </div>
            </div>
        </div>
    }
}


<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('input[name="address"]').focus();
    });
</script>



