@model ReviewModel

@using BitPantry.Iota.Common
@using Humanizer;

<script>

    function togglePassage() {
    var firstPanel = document.getElementsByClassName("verse-card")[0];
    var secondPanel = document.getElementsByClassName("verse-card")[1];

    if (firstPanel.style.display === "block") {
    firstPanel.style.display = "none";
    secondPanel.style.display = "block";
    } else {
    firstPanel.style.display = "block";
    secondPanel.style.display = "none";
    }
    }

</script>

<style>

    /* Styling only for main tabs */
    .main-tabs .nav-link {
    color: black !important; /* Always black text for main tabs */
    }

    .main-tabs .nav-link.active {
    background-color: #e0f2ff !important; /* Light blue background for active main tabs */
    color: black !important; /* Ensure text remains black when active */
    border-radius: 5px; /* Rounded corners for active tab */
    }

    /* Styling for active nested tabs */
    .nav .nav-link.active {
    background-color: #e0f2ff !important; /* Light blue background for active nested tabs */
    color: black !important; /* Ensure text remains black when active */
    }

    .verse-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer; /* Added cursor property */
    }
</style>

<div data-testid="review.pnlSummary" class="lead mt-4">
    <strong>
        Reviewing @Model.Path.Sum(p => p.Value) card@(Model.Path.Sum(p => p.Value) > 1 ? "s" : "") today
    </strong>
</div>

@* ------- TABS ------- *@

<ul data-testid="review.tabs" class="nav nav-tabs nav-justified mt-4 w-100 main-tabs">

    @foreach (var tab in Model.Path.Keys)
    {
        <li class="nav-item">
            <a class="nav-link@(Model.CurrentTab == tab ? " active" : "")" asp-action="Index" data-testid="review.tab@(tab)" asp-route-tab="@tab">@tab.Humanize()</a>
        </li> 
    }

</ul>

@if(Model.Path[Model.CurrentTab] > 1)
{
    <nav class="nav py-3" data-testid="review.subtabs" style="border-bottom: 1px solid #DEDEDE;">

        @for (int i = 1; i <= Model.Path[Model.CurrentTab]; i++)
        {
            <a class="nav-link@(i == Model.CurrentOrder ? " active" : "")" asp-action="Index" asp-route-tab="@Model.CurrentTab" data-testid="review.cardtab_@(i)" asp-route-ord="@i">@i</a>
        }

    </nav>
}

@if(Model.Card != null)
{

    <div class="mt-4">
        <div class="d-flex pb-4">
            <div class="d-flex flex-fill align-items-center justify-content-start">
                <span data-testid="review.pnlAddress" class="display-6">@Model.Card.Address (@Model.Card.Passage.TranslationShortName)</span>
            </div>
            @if (Model.WorkflowType == WorkflowType.Advanced && Model.CurrentTab < Tab.Day1)
            {
                <div data-testid="review.pnlReviewCountMsg" onclick="confirmResetReviewCount()" style="cursor:pointer" class="d-flex flex-fill justify-content-end align-items-center me-3">
                    <span class="bg-light display-6 px-1 rounded">@Model.Card.ReviewCount</span>
                </div>
            }
        </div>
        <div data-testid="review.pnlPassageCollapsed" class="verse-card" onclick="togglePassage()" style="display:block">
            <p class=" text-center fst-italic p-3">
                Click to Show passage
            </p>
        </div>
        <div data-testid="review.pnlPassageExpanded" class="verse-card" onclick="togglePassage()" style="display:none">
            <div class="p-3">
                <p>
                    <div class="row mt-4">
                        <partial name="_PassagePartial" model='@Model.Card.Passage' />
                    </div>
                </p>
                <p class="fst-italic fw-light text-center">
                    Click to Hide Passage
                </p>
            </div>
        </div>
    </div>

    <div class="d-flex mt-4">
        @if(Model.EnablePromote)
        {
            <div class="col d-flex justify-content-start">
                <a href="#" onclick="confirmPromote()" data-testid="review.btnPromote" class="btn btn-secondary">
                    Promote
                </a>
            </div>
        }
        <div class="col d-flex justify-content-end">
            @if(Model.WorkflowType == WorkflowType.Advanced)
            {
                <a data-testid="review.btnGotIt" class="btn btn-success me-2" asp-action="gotit" asp-route-id="@Model.Card.Id">Got It</a>
            }
            <a data-testid="review.btnNext" class="btn btn-primary" href="@Model.NextUrl">Next</a>
        </div>
    </div>

    @if (Model.CurrentTab == Tab.Daily && Model.WorkflowType == WorkflowType.Basic)
    {
        <div data-testid="review.pnlPromoteBasicMsg" class="mt-4">
            Promote this card to start on the next card from your queue.
        </div>
    }
    else if(Model.CurrentTab < Tab.Day1 && Model.WorkflowType == WorkflowType.Advanced)
    {
        <div data-testid="review.pnlPromoteAdvancedMsg" class="mt-4">
            Promote this card to move it to the next tab.
        </div>
    }

    <!-- Promotion Confirmation dialog markup -->

    <div data-testid="review.diaConfirmPromote" id="promoteConfirmationModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure?</h5>
                </div>
                <div data-testid="review.pnlPromoteConfirmDialogMsg" class="modal-body">
                    @if(Model.WorkflowType == WorkflowType.Basic && Model.CurrentTab == Tab.Daily)
                    {
                        <p>@Model.Card.Address will be moved to the next tab and the top card from your queue will be moved to the Daily tab.</p>
                    }
                    else if(Model.WorkflowType == WorkflowType.Advanced && Model.CurrentTab < Tab.Day1)
                    {
                        <p>@Model.Card.Address will be moved to the next tab.</p>
                    }
                </div>
                <div class="modal-footer">
                    <button data-testid="review.btnConfirmPromoteCancel" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelPromote()">Cancel</button>
                    <a data-testid="review.btnConfirmPromote" asp-action="Promote" asp-controller="Review" asp-route-id="@Model.Card.Id" class="btn btn-primary">Promote</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Reset Review Count Confirmation dialog markup -->

    <div data-testid="review.diaConfirmResetReviewCount" id="diaConfirmResetReviewCount" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure?</h5>
                </div>
                <div data-testid="review.pnlConfirmResetDialogMessage" class="modal-body">
                    The review count will be reset to zero.
                </div>
                <div class="modal-footer">
                    <button data-testid="review.btnCancelResetReviewCount" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelResetReviewCount()">Cancel</button>
                    <a data-testid="review.btnConfirmResetReviewCount" asp-action="ResetReviewCount" asp-controller="Review" asp-route-id="@Model.Card.Id" class="btn btn-primary">Reset</a>
                </div>
            </div>
        </div>
    </div>


    <script>
        function confirmPromote() {
            $('#promoteConfirmationModal').modal('show');
        }

        function cancelPromote() {
            $('#promoteConfirmationModal').modal('hide');
        }

        function confirmResetReviewCount() {
            $('#diaConfirmResetReviewCount').modal('show');
        }

        function cancelResetReviewCount() {
            $('#diaConfirmResetReviewCount').modal('hide');
        }
    </script>

}
else
{
    <div class="mt-4 display-6" data-testid="review.pnlNoCardsFound">No cards to review</div>
    
    @if(Model.CurrentTab == Tab.Daily)
    {
        @if (Model.QueueCardCount > 0)
        {
            <p data-testid="review.nodaily.pnlNextQueueCardMsg" class="mt-4">Press the <i>Get Next Card From Queue</i> button to start reviewing the top card from your queue now, or create new cards using the <i>Create Cards</i> button.</p>
        }
        else
        {
            <p data-testid="review.nodaily.pnlNoQueueCardMsg" class="mt-4">Create new cards using the <i>Create Cards</i> button.</p>
        }
        <div class="d-flex mt-4">
            <div class="col-10 d-flex justify-content-start">
                @if (Model.QueueCardCount > 0)
                {
                    <a data-testid="review.nodaily.btnNextQueueCard" data-testid="review.btnPullFromQueue" class="btn btn-secondary me-2" asp-action="GetNextQueueCard">Get Next Card From Queue</a>
                }
                <a data-testid="review.nodaily.btnCreateCards" class="btn btn-secondary" asp-controller="Card" asp-action="New">Create Cards</a>
            </div>
            <div class="col d-flex justify-content-end">
                <a data-testid="review.btnNext" class="btn btn-primary" href="@Model.NextUrl">Next</a>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex mt-4">
            <div class="col d-flex justify-content-end">
                <a data-testid="review.btnNext" class="btn btn-primary" href="@Model.NextUrl">Next</a>
            </div>
        </div>
    }
}