@model dynamic

@*
    Requires model with the following properties:

    string BackgroundColor
    string Title
    SetCardModel Card
    String CardBackUrl
*@

<div class="col-md-4 mb-4">
    @if (Model.Card != null)
    {
        <a asp-action="Index" asp-controller="Card" asp-route-id="@Model.Card.CardId" asp-route-backurl="@Model.CardBackUrl" style="text-decoration: none; color: inherit;">
            <div class="card text-center" style="background-color: @Model.BackgroundColor; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); cursor: pointer;">
                <div class="card-body">
                    <div class="d-flex justify-content-center gap-4">
                        <h5 class="card-title mb-0">@Model.Title</h5>
                        <p class="card-text">
                            @Model.Card.Text
                        </p>
                    </div>
                </div>
            </div>
        </a>
    }
    else
    {
        <div class="card text-center" style="background-color: @Model.BackgroundColor">
            <div class="card-body">
                <div class="d-flex justify-content-center gap-4">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">
                        No Card
                    </p>
                </div>
            </div>
        </div>
    }
</div>