@model SortableSetModel

<div class="container">

    <div class="row justify-content-center mb-2">
        <div class="col-6 d-flex align-items-center">
            <a asp-controller="Set" asp-action="@Model.BackAction" class="btn btn-primary px-3">
                Back
            </a>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <h1 class="font-weight-bold text-end text-md-end mb-0 me-3">@Model.SetName</h1>
        </div>
    </div>

    <div class="row border-top mb-4">
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <ul id="cards" class="list-group">
                @foreach (var card in Model.Cards)
                {
                    <li class="list-group-item" id="@card.CardId">
                        <img src="~/drag.svg" alt="Icon" class="handle me-2" width="24" height="24" />
                        <a asp-action="Index" asp-controller="Card" asp-route-id="@card.CardId" asp-route-backurl="@Model.CardBackUrl">@card.Text</a>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>
    <script>
        var el = document.getElementById('cards');
        var sortable = Sortable.create(el, {
            animation: 175,
            onEnd: function(evt) {

                var itemEl = evt.item;

                var cardId = parseInt(itemEl.getAttribute('id'));
                var newOrder = evt.newIndex + 1;

                var body = JSON.stringify({
                    cardId: cardId,
                    newOrder: newOrder,
                    tab: '@Model.Tab'
                });

                fetch('/Card/Reorder', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: body
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Order updated successfully');
                    } else {
                        console.error('Failed to update order');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        });
    </script>
}
